
<ul> <!-- Unordered List -->
  <li>
    <a [routerLink]="['/inicio']"> <!-- Ancho/Ancla -->
      INICIO
    </a>
  </li>
  <li>
    <a [routerLink]="['/login']"> <!-- Ancho/Ancla -->
      Login
    </a>
  </li>
  <li>
    <a [routerLink]="['/inicio','registro']"><!-- Ancho/Ancla -->
      Inicio y Registro
    </a>
  </li>
  <li>
    <a [routerLink]="['/inicio','registro','gestion-usuarios']"><!-- Ancho/Ancla -->
      <!-- routerLink es un ARREGLO de SEGMENTOS URL  -->
      Gestion de usuarios
    </a>
  </li>
  <li>
    <a [routerLink]="['/inicio','home-vivo']"><!-- Ancho/Ancla -->
      <!-- routerLink es un ARREGLO de SEGMENTOS URL  -->
      Home vivo
    </a>
  </li>
  <li>
    <a [routerLink]="['/inicio','home-vivo','gestion-home-vivo']"><!-- Ancho/Ancla -->
      <!-- routerLink es un ARREGLO de SEGMENTOS URL  -->
      Home vivo gestion
    </a>
  </li>
</ul>





<router-outlet></router-outlet>



