#app {
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
#video {
  background-color: #000000;
}
#canvas {
  display: none;
}
li {
  display: inline;
  padding: 5px;
}
.example-container {
  width: 900px;
  height: 410px;
  margin: 20px;
  border: 1px solid #555;
}
.mat-drawer{
  background-color: #4b1938;
}
.mat-drawer-content {
  background-color: #4b191f;
}
.mat-drawer-container {
  background-position: center;
}

